<div class="container">
    <h1 class="title-lg mb"> Вопрос</h1>
    <p class="mb-sm"><%=  @question.body %></p>

    <p class="mb-sm">user id: <%= @question.user_id %></p>


    <p class="mt"><%=  link_to "Изменить вопрос", edit_question_path(@question) %></p>
    <div>
        <%= button_to 'Удалить вопрос', question_path(@question), method: :delete %>
    </div>
    <p class="mt"><%=  link_to "Все вопросы:", questions_path %></p>
</div>